<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:hhcookie="http://typo3.org/ns/HauerHeinrich/HhExtCookieConsent/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:be.pageRenderer
    includeRequireJsModules="{
        0: 'TYPO3/CMS/Backend/ContextMenu',
        1: 'TYPO3/CMS/Backend/AjaxDataHandler',
        10: 'TYPO3/CMS/Backend/Modal',
        20: 'TYPO3/CMS/Backend/ContextHelp'
    }"

    includeCssFiles="{
        0: '{f:uri.resource(path:\'EXT:hh_ext_cookie_consent/Resources/Public/Css/Module/cookie.bundle.css\')}'
    }"

    includeJsFiles="{
        0: '{f:uri.resource(path:\'EXT:hh_ext_cookie_consent/Resources/Public/JavaScript/Module/cookie.bundle.js\')}'
    }"
/>

<script><f:format.raw>{script}</f:format.raw></script>

<f:render partial="Backend/ModuleMenu" arguments="{_all}" />

<div class="tx-ext-hh-module module-cookie">
    <f:render section="content" />

    <f:render partial="Backend/ModuleFooter" arguments="{_all}" />
</div>

</html>
