:root {
    --primaryColor: var(--primaryColor);
}

.cc-left {
    text-align: left !important;
}

.cc-right {
    text-align: right !important;
}

.cc-center {
    text-align: center !important;
}

.cc-fullwidth {
    width: 100% !important;
}

.cc-active {
    display: block !important;
}

.cc-hide {
    display: none !important;
}

.cc-margin-top {
    margin-top: var(--spacing) !important;
}

.cc-margin-right {
    margin-right: var(--spacing) !important;
}

.cc-margin-bottom {
    margin-bottom: var(--spacing) !important;
}

.cc-margin-left {
    margin-left: var(--spacing) !important;
}

.cc-flex-left {
    margin-right: auto !important;
}

.cc-flex-right {
    margin-left: auto !important;
}

.cc-separator::after {
    content: "|";
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}
