/*
    Theme Default
    Placeholder Box (for e.g. YouTube, Vimeo, GoogleMaps, OSM)
*/
.cc-placeholder-box {
    display: none;
}

.cc-placeholder {
    background: #eee no-repeat right bottom;
    background-size: cover;
    color: #000;
    padding: var(--popupPadding);
    min-height: 300px;

    /* Hide Blocked Elements by Default */
    & > * {
        display: none;
        height: 0;
        overflow: hidden;
        width: 0;
    }

    /* Placeholder Defaults/Container/Buttons */
    & .cc-placeholder-box {
        background: none;
        color: #000;
        display: block;
        height: auto;
        overflow: auto;
        visibility: visible;
        width: auto;
    }

    & .cc-placeholder-btn-accept {
        background: var(--btnBg);
        border-radius: var(--btnBorderRadius);
        cursor: pointer;
        color: var(--btnText);
        left: 50%;
        display: inline-block;
        padding: var(--btnPadding);
        position: relative;
        text-align: center;
        transition: all var(--effectSpeed);
        transform: translateX(-50%);
    }

    & .cc-placeholder-btn-accept:hover {
        background: var(--btnBgHover);
        background: var(--primaryColor);
        color: var(--btnTextHover);
    }

    & .cc-placeholder-desc {
        padding: var(--groupPadding) 0;
    }

    /* Specific Placeholders */
    &.cc-placeholder-maps {
        background-image: url("../Images/preview_maps.svg");
    }

    &.cc-placeholder-video {
        background-image: url("../Images/preview_video.svg");
    }

    /* Fix for wrongly defined video elements with css styles */

    /* Cookie CSP Form / Inputs */
    & ul {
        list-style-type: none;
        padding: 0;
        text-align: left;

        & li {
            border-bottom: 1px solid #e0e0e0;
            padding: 12px 0;
        }
    }

    & ul li:last-of-type {
        border-bottom: 0;
    }

    & ul li label,
    & ul li span {
        display: inline-block;
        vertical-align: top;
    }

    & ul li label {
        min-width: 200px;
    }

    & .cookie-input-accept {
        display: none;
    }

    /* Cookie Consent Layout Overrides inside .cc-placeholder */
    & .cookie-group-title {
        font-size: 1.5rem;
        margin: 12px 0 5px 0;
        padding: 0;
        text-align: center;
    }

    & .cookie-group-bodytext {
        text-align: center;
    }
}

/* TYPO3 custom overrides (this is necessary, because of some typo3 themes) */
#main .cc-placeholder-btn-accept {
    color: var(--btnText);
    margin-top: var(--spacing);
}

#main .cc-placeholder-btn-accept:hover {
    background: var(--btnBgHover);
    background: var(--primaryColor);
    color: var(--btnTextHover);
}

.video[data-type="external"] &.video-embed {
    padding: var(--popupPadding);
}

/* Cookie Button - Open Cookie Consent Box/Settings */
.cookie-open-icon {
    background: var(--primaryColor);
    background: var(--primaryColor);
    border-radius: 3px;
    bottom: 24px;
    cursor: pointer;
    color: #000;
    height: 42px;
    left: 24px;
    position: fixed;
    width: 42px;
    z-index: 888;

    &::after {
        border-bottom: solid 2px currentColor;
        border-left: solid 2px currentColor;
        content: "";
        color: #fff;
        font-weight: 700;
        height: 12px;
        margin: 12px;
        position: absolute;
        width: 20px;
        transform: rotate(-45deg);
    }

    & div {
        background: var(--primaryColor);
        color: #fff;
        display: block;
        font-size: 16px;
        height: 100%;
        left: 39px;
        line-height: 1.2;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 0;

        & span {
            display: block;
            padding: 10px;
        }
    }

    &:hover div {
        opacity: 1;
        width: auto;
        transition: all var(--effectSpeed);
    }
}

/* Cookie Consent Layout */
.cookie-overlay {
    background: var(--overlayBg);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1111;
}

/* Default Cookie Consent Styling */
.cookie-consent-tool {
    background: var(--popupBg);
    border-radius: 5px;
    color: var(--textColor);
    left: 50%;
    max-width: var(--popupWidth);
    max-height: 90vh;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    top: 50%;
    width: 100%;
    z-index: 2222;
    transform: translate(-50%, -50%);

    /* Typography */
    &,
    & p {
        font-size: 16px;
        line-height: 1.4;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        line-height: 1.35;
    }

    & h1,
    & h2,
    & h3 {
        font-size: 32px;
    }

    & h4,
    & h5,
    & h6 {
        font-size: 24px;
    }

    /* Cookie Consent Inner Container */
    & .cookie-consent-tool-inner {
        padding: var(--popupPadding);
    }

    /* Default Resets */
    & * {
        box-sizing: border-box;
        clear: both;
        margin: 0;
        padding: 0;
    }

    & ul {
        list-style-type: none;
    }

    & form {
        & input,
        & textarea,
        & select {
            font-family: inherit;
            font-size: 16px;
            margin: 0;
            padding: 0;
        }
    }

    /* Default Elements */
    & a {
        color: var(--linkColor);
    }

    & a:hover {
        color: var(--linkColorHover);
        color: var(--primaryColor);
    }

    & input[type="submit"],
    & input[type="button"] {
        transition: all var(--effectSpeed);
        cursor: pointer;
        -webkit-appearance: none !important;
    }

    & table {
        width: 100%
    }

    & th,
    & td {
        padding: 4px;
    }

    /* Cookie Headline */
    & .cookie-headline {
        font-size: 32px;
    }

    /* Cookie Button */
    & .cookie-btn,
    & .cookie-btn-green {
        background: var(--btnBg);
        border-radius: var(--btnBorderRadius);
        border: 1px solid var(--btnBorder);
        color: var(--btnText);
        cursor: pointer;
        display: inline-block;
        margin: 3px 0;
        padding: var(--btnPadding) calc(var(--btnPadding) + 4px);
        text-align: center;
        transition: all var(--effectSpeed);

        & a {
            color: var(--btnText);
        }

        &:hover {
            background: var(--btnBgHover);
            background: var(--primaryColor);
            border: 1px solid var(--btnBorderHover);
            border-color: var(--primaryColor);
            color: var(--btnTextHover);
        }

        &:hover a {
            color: var(--btnTextHover);
        }

        &.cc-active {
            background: var(--btnBgActive);
            background: var(--primaryColor);
            border: 1px solid var(--btnBorderActive);
            border-color: var(--primaryColor);
            color: var(--btnTextActive);
        }
    }

    & .cookie-btn-text,
    & .cookie-btn-text a,
    & .cookie-btn-text input,
    & .cookie-btn-goback,
    & .cookie-btn-goback a,
    & .cookie-btn-goback input {
        color: var(--textColor);
        background: none;
        border: 0;
        vertical-align: top;
        display: inline-block;
        line-height: 1;

        &:hover {
            color: var(--primaryColor);
        }
    }

    /* Cookie Settings Container */
    & .cookie-settings {
        background: var(--settingsBg);
        margin-bottom: var(--settingsSpacing);
    }

    & .cookie-settings--simple {
        display: none;
    }

    & .cookie-settings--complex {
        display: none;
    }

    & .cookie-description {
        margin: calc(var(--spacing) / 2) 0 var(--spacing) 0;
    }

    /* Cookie Close Button */
    & .cookie-close {
        cursor: pointer;
        display: block;
        height: 32px;
        position: absolute;
        right: 20px;
        width: 32px;
        z-index: 3333;
    }

    & .cookie-close::before,
    & .cookie-close::after {
        background-color: #333;
        content: ' ';
        height: 33px;
        left: 8px;
        position: absolute;
        width: 3px;
    }

    & .cookie-close::before {
        transform: rotate(45deg);
    }

    & .cookie-close::after {
        transform: rotate(-45deg);
    }

    /* Cookie Actions */
    & .cookie-actions {
        margin-top: var(--spacing);

        & ul {
            display: flex;
            flex-direction: row;
        }

        & ul li {
            flex: 0 0 auto;
            margin: 0 8px;
        }

        & ul li:first-of-type {
            margin-left: 0;
        }

        & ul li:last-of-type {
            margin-right: 0;
        }

        & ul li:last-of-type .cookie-btn-text::after {
            display: none;
        }

        & ul li .cookie-btn-text {
            margin-top: var(--btnPadding) + 2;
        }

        & ul li .cookie-btn-text::after {
            content: "|";
            display: inline-block;
            margin-left: var(--btnPadding);
        }

        & ul li.cookie-goback {
            margin-left: auto;
        }
    }

    /* Cookie Groups */
    & .cookie-groups {
        margin-top: var(--spacing);
    }

    & .cookie-group {
        left: 0;
        margin-bottom: 3px;
        position: relative;
        top: 0;
    }

    & .cookie-group-tab {
        background: var(--groupTabBg);
        color: var(--groupTabText);
        cursor: pointer;
        display: block;
        padding: var(--groupPadding);
        transition: all var(--effectSpeed);
    }

    & .cookie-group-tab:hover {
        background: var(--groupTabBgHover);
        background: var(--primaryColor);
        color: var(--groupTabTextHover);
    }

    & .cookie-group-tab:hover::after {
        color: transparent;
        text-shadow: 0 0 0 var(--groupTabTextHover);
    }

    & .cookie-group-tab::after {
        content: "\2795";
        font-size: 16px;
        position: absolute;
        right: 20px;
    }

    & .cookie-group-tab.cc-active::after {
        content: "\2796";
    }

    & .cookie-group-view {
        background: var(--groupBg);
        padding: 0;
        overflow: hidden;

        & label,
        & span {
            display: inline-block;
            vertical-align: top;
        }

        & label {
            width: 40%;
        }

        & span {
            width: 59%;
        }

        & ul {
            border: var(--groupBorder);
            margin-bottom: 5px;
            padding: 18px;
        }

        & ul li {
            border-bottom: var(--groupBorder);
            padding: 12px;
        }

        & ul li:last-of-type {
            border-bottom: 0;
        }
    }

    & .cookie-group-title {
        font-size: 1rem;
        line-height: 1.35;
        margin: 12px 0 5px 0;
        padding: 0;
    }

    /* Cookie List Items */
    & .cookie-text-runtime {
        text-transform: capitalize;
    }

    /* Cookie Footer */
    & .cookie-footer {
        padding: 12px 16px;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .cookie-consent-tool {
        max-width: 90%;

        &,
        & p {
            font-size: 14px;
        }

        & h1,
        & h2,
        & h3 {
            font-size: 21px;
        }

        & h4,
        & h5,
        & h6 {
            font-size: 16px;
        }

        & form {
            & input,
            & textarea,
            & select {
                font-size: 14px;
            }
        }

        & .cookie-actions ul {
            display: block;
            text-align: right;
        }

        & .cookie-actions ul li {
            display: inline-block;
        }

        & .cookie-actions ul li.cookie-submit-individual {
            width: 100%;
        }

        & .cookie-actions ul li.cookie-submit-individual input {
            width: 100%;
        }

        & .cookie-actions ul li.cookie-goback {
            margin-left: 0;
        }

        & .cookie-footer {
            padding: 12px 0;
        }
    }
}

/* Mobile Cookie Consent Styling */
@media screen and (max-width: 640px) {
    .cookie-consent-tool {
        & .cookie-consent-tool-inner {
            padding: 14px 16px;
        }

        & .cookie-group-view label {
            hyphens: auto;
            padding-right: 2px;
        }

        & .cookie-group-view span {
            hyphens: auto;
        }
    }
}
