.cc-placeholder-box {
    display: none;
}

.cc-placeholder {
    background: #eee no-repeat right bottom;
    background-size: cover;
    color: #000;
    min-height: 300px;
    padding: var(--popupPadding);

    & > * {
        display: none;
        height: 0;
        overflow: hidden;
        width: 0;
    }

    & .cc-placeholder-box {
        background: none;
        color: #000;
        display: block;
        height: auto;
        overflow: auto;
        visibility: visible;
        width: auto;
    }

    & .cc-placeholder-btn-accept {
        background: var(--btnBg);
        border-radius: var(--btnBorderRadius);
        color: var(--btnText);
        cursor: pointer;
        display: inline-block;
        left: 50%;
        padding: var(--btnPadding);
        position: relative;
        text-align: center;
        transform: translateX(-50%);
        transition: all var(--effectSpeed);
    }

    & .cc-placeholder-btn-accept:hover {
        background: var(--btnBgHover);
        background: var(--primaryColor);
        color: var(--btnTextHover);
    }

    & .cc-placeholder-desc {
        padding: var(--groupPadding) 0;
    }

    &.cc-placeholder-maps {
        background-image: url("../Images/preview_maps.svg");
    }

    &.cc-placeholder-video {
        background-image: url("../Images/preview_video.svg");
    }

    & ul {
        list-style-type: none;
        padding: 0;
        text-align: left;

        li {
            border-bottom: 1px solid #e0e0e0;
            padding: 12px 0;
        }
    }

    & ul li:last-of-type {
        border-bottom: 0;
    }

    & ul li label,
    & ul li span {
        display: inline-block;
        vertical-align: top;
    }

    & ul li label {
        min-width: 200px;
    }

    & .cookie-input-accept {
        display: none;
    }

    & .cookie-group-title {
        font-size: 21px;
        margin: 12px 0 5px 0;
        padding: 0;
        text-align: center;
    }

    & .cookie-group-bodytext {
        text-align: center;
    }
}

#main .cc-placeholder .cc-placeholder-btn-accept {
    color: var(--btnText);
    margin-top: var(--spacing);
}

#main .cc-placeholder .cc-placeholder-btn-accept:hover {
    background: var(--btnBgHover);
    background: var(--primaryColor);
    color: var(--btnTextHover);
}

.cc-placeholder .video[data-type="external"] &.video-embed {
    padding: var(--popupPadding);
}

.cookie-open-icon {
    background: var(--primaryColor);
    border-radius: 3px;
    bottom: 2vw;
    cursor: pointer;
    color: #000;
    height: 42px;
    left: 2vw;
    position: fixed;
    width: 42px;
    z-index: 888;

    &::after {
        border-bottom: solid 2px currentColor;
        border-left: solid 2px currentColor;
        content: " ";
        color: #fff;
        font-weight: 700;
        height: 12px;
        margin: 12px;
        position: absolute;
        width: 20px;
        transform: rotate(-45deg);
    }

    & div {
        background: var(--primaryColor);
        color: #fff;
        display: block;
        font-size: 16px;
        height: 100%;
        left: 39px;
        line-height: 1.2;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 0;

        & span {
            display: block;
            padding: 10px;
        }
    }

    &:hover div {
        opacity: 1;
        width: auto;
        transition: all var(--effectSpeed);
    }
}

.cookie-overlay {
    background: var(--overlayBg);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1111;
}

.cookie-consent-theme {
    & .cookie-consent-container {
        &.cc-hide {
            & .cookie-consent-tool {
                transform: scale(0) perspective(250px) rotateX(-80deg) scale(0);
            }
        }
    }
}

.cookie-consent-container.cc-hide {
    display: block !important;
}

.cookie-consent-tool {
    background: var(--popupBg);
    color: var(--textColor);
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .3);
    bottom: 2vw;
    left: 2vw;
    margin: -1px;
    max-height: 50vh;
    max-width: 530px;
    overflow: auto;
    padding: 0;
    position: fixed;
    width: 96vw;
    z-index: 2222;

    transition: all 1s cubic-bezier(.5, 0, .5, 1);
    transform: scale(1) perspective(500px) rotateX(0deg) scale(1);
    transform-origin: left bottom;

    &,
    & p,
    & a {
        font-size: 13px;
        line-height: 1.4;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        line-height: 1.35;
    }

    & h1,
    & h2,
    & h3 {
        font-size: 21px;
    }

    & h4,
    & h5,
    & h6 {
        font-size: 18px;
    }

    & .cookie-consent-tool-inner {
        padding: var(--popupPadding);
    }

    & * {
        clear: both;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    & ul {
        list-style-type: none;
    }

    & form {
        & input,
        & textarea,
        & select {
            font-family: inherit;
            font-size: 13px;
            margin: 0;
            padding: 0;
        }
    }

    & a {
        color: var(--linkColor);

        &:hover {
            color: var(--primaryColor);
        }
    }

    & input[type="submit"],
    & input[type="button"] {
        cursor: pointer;
        transition: all var(--effectSpeed);
        -webkit-appearance: none !important;
    }

    & table {
        width: 100%
    }

    & th,
    & td {
        padding: 4px;
    }

    & .cookie-headline {
        font-size: 21px;
    }

    & .cookie-btn,
    & .cookie-btn-green {
        background: var(--btnBg);
        border-radius: var(--btnBorderRadius);
        border: 1px solid var(--btnBorder);
        color: var(--btnText);
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        margin: 3px 0;
        padding: var(--btnPadding) calc(var(--btnPadding) + 4px);
        text-align: center;
        transition: all var(--effectSpeed);

        & a {
            color: var(--btnText);
        }

        &:hover {
            background: var(--btnBgHover);
            background: var(--primaryColor);
            border: 1px solid var(--btnBorderHover);
            border-color: var(--primaryColor);
            color: var(--btnTextHover);
        }

        &:hover a {
            color: var(--btnTextHover);
        }

        &.cc-active {
            background: var(--btnBgActive);
            background: var(--primaryColor);
            border: 1px solid var(--btnBorderActive);
            border-color: var(--primaryColor);
            color: var(--btnTextActive);
        }
    }

    & .cookie-btn-text,
    & .cookie-btn-text a,
    & .cookie-btn-text input,
    & .cookie-btn-goback,
    & .cookie-btn-goback a,
    & .cookie-btn-goback input {
        background: none;
        border: 0;
        color: var(--textColor);
        display: inline-block;
        line-height: 1;
        margin: 0;
        padding: 0;
        vertical-align: top;

        &:hover {
            color: var(--primaryColor);
        }
    }

    & .cookie-settings {
        background: var(--settingsBg);
        margin-bottom: var(--settingsSpacing);
    }

    & .cookie-settings--simple {
        display: none;
    }

    & .cookie-settings--complex {
        display: none;
    }

    & .cookie-description {
        margin: calc(var(--spacing) / 2) 0 var(--spacing) 0;
    }

    & .cookie-close {
        cursor: pointer;
        display: block;
        height: 32px;
        position: absolute;
        right: 20px;
        width: 32px;
        z-index: 3333;
    }

    & .cookie-close::before,
    & .cookie-close::after {
        background-color: #333;
        content: ' ';
        height: 25px;
        left: 8px;
        position: absolute;
        width: 3px;
    }

    & .cookie-close::before {
        transform: rotate(45deg);
    }

    & .cookie-close::after {
        transform: rotate(-45deg);
    }

    & .cookie-actions {
        margin-top: var(--spacing);

        & ul li {
            flex: 0 0 auto;
            margin: 0 8px;
        }

        & ul li:first-of-type {
            margin-left: 0;
        }

        & ul li:last-of-type {
            margin-right: 0;
        }

        & ul li:last-of-type .cookie-btn-text::after {
            display: none;
        }

        & ul li .cookie-btn-text {
            margin-top: calc(var(--btnPadding) + 2);
        }

        & ul li .cookie-btn-text::after {
            content: "|";
            display: inline-block;
            margin-left: var(--btnPadding);
        }

        & ul li.cookie-goback {
            display: inline-block;
            margin-left: auto;
        }

        & ul li.cookie-submit-essentials {
            display: inline-block;
        }
    }

    & .cookie-groups {
        margin-top: var(--spacing);
    }

    & .cookie-group {
        left: 0;
        margin-bottom: 3px;
        position: relative;
        top: 0;
    }

    & .cookie-group-tab {
        background: var(--groupTabBg);
        color: var(--groupTabText);
        cursor: pointer;
        display: block;
        padding: var(--groupPadding);
        transition: all var(--effectSpeed);
    }

    & .cookie-group-tab:hover {
        background: var(--groupTabBgHover);
        background: var(--primaryColor);
        color: var(--groupTabTextHover);
    }

    & .cookie-group-tab:hover::after {
        color: transparent;
        text-shadow: 0 0 0 var(--groupTabTextHover);
    }

    & .cookie-group-tab::after {
        content: "\2795";
        font-size: 13px;
        position: absolute;
        right: 20px;
    }

    & .cookie-group-tab.cc-active::after {
        content: "\2796";
    }

    & .cookie-group-view {
        background: var(--groupBg);
        overflow: hidden;
        padding: 0;

        & label,
        & span {
            display: inline-block;
            vertical-align: top;
        }

        & label {
            width: 40%;
        }

        & span {
            width: 59%;
        }

        & ul {
            border: var(--groupBorder);
            padding: 18px;
            margin-bottom: 5px;
        }

        & ul li {
            padding: 12px 10px;
            border-bottom: var(--groupBorder);
        }

        & ul li:last-of-type {
            border-bottom: 0;
        }
    }

    & .cookie-group-title {
        font-size: 1rem;
        line-height: 1.35;
        margin: 12px 0 5px 0;
        padding: 0;
    }

    & .cookie-group-content {
        & a {
            font-size: inherit;
        }
    }

    & .cookie-text-runtime {
        text-transform: capitalize;
    }

    & .cookie-footer {
        padding: 0 16px;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .cookie-consent-tool {
        border-radius: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        max-width: 100%;
        width: 100%;

        & .cookie-actions ul {
            display: block;
            text-align: right;
        }

        & .cookie-actions ul li {
            display: inline-block;
        }

        & .cookie-actions ul li.cookie-submit-individual {
            width: 100%;
        }

        & .cookie-actions ul li.cookie-submit-individual input {
            width: 100%;
        }

        & .cookie-actions ul li.cookie-goback {
            margin-left: 0;
        }

        & .cookie-footer {
            padding: 0;
        }
    }
}

@media screen and (max-width: 640px) {
    .cookie-consent-tool {
        & .cookie-consent-tool-inner {
            padding: 14px 16px;
        }

        & .cookie-group-view label {
            hyphens: auto;
            padding-right: 2px;
        }

        & .cookie-group-view span {
            hyphens: auto;
        }
    }
}
