.cookie-consent-theme {
    --primaryColor: #28A745;
    --secondaryColor: #555;

    --effectSpeed: .3s;

    --spacing: 20px;

    --overlayDisplay: block;
    --overlayBg: rgba(0,0,0, .5);

    --settingsBg: transparent;
    --settingsSpacing: 24px;

    --popupBg: #fff;
    --popupPadding: 30px;
    --popupWidth: 60%;

    --groupBg: #fff;
    --groupTabBg: #F7F7F7;
    --groupTabBgHover: var(--primaryColor);
    --groupTabText: var(--secondaryColor);
    --groupTabTextHover: #fff;
    --groupPadding: 20px;
    --groupBorder: 1px solid #F3F3F3;

    --textColor: var(--secondaryColor);
    --linkColor: var(--secondaryColor);
    --linkColorHover: var(--primaryColor);

    --btnPadding: 12px;
    --btnBorderRadius: 5px;
    --btnBg: var(--secondaryColor);
    --btnBgHover: var(--primaryColor);
    --btnBgActive: var(--primaryColor);
    --btnBorder: var(--secondaryColor);
    --btnBorderHover: var(--primaryColor);
    --btnBorderActive: var(--primaryColor);
    --btnText: #FFF;
    --btnTextHover: #FFF;
    --btnTextActive: #FFF;
}
