<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:hhcookie="http://typo3.org/ns/HauerHeinrich/HhExtCookieConsent/ViewHelpers"
    data-namespace-typo3-fluid="true">

<footer>
    <div class="created">
        <p>
            <small>
                <i>
                    Created and Designed by
                </i>
            </small>
        </p>
        <a class="logo" href="http://www.hauer-heinrich.de">
            <f:image src="EXT:hh_ext_cookie_consent/Resources/Public/Images/Logos/werbeagentur_hauer-heinrich.svg" />
        </a>
    </div>
</footer>

</html>
