<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:hhcookie="http://typo3.org/ns/HauerHeinrich/HhExtCookieConsent/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{menu}">
    <div class="menu menu-module" role="tabpanel">
        <f:comment>be.link  route = from BE -> Configuration -> Backendrouten</f:comment>
        <ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-tab" data-store-last-tab="1">
            <f:for each="{menu}" as="item" iteration="i">
                <li role="presentation" class="t3js-tabmenu-item {f:if(condition: '{menuIndex} == \'index\'', then: 'active')}">
                    <a href="{item.link}" class="btn btn-default">
                        {item.label}
                    </a>
                </li>
            </f:for>
        </ul>
    </div>
</f:if>

</html>
