<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hhcookie="http://typo3.org/ns/HauerHeinrich/HhExtCookieConsent/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{hidden} == false || {hidden} == 0">
    <div class="cookie-consent-theme cookie-consent-theme--{cookieObject.cookieTheme}"
        data-debug="{settings.debug}"
        data-gpc="{privacyRespectGpc}"
        {f:if(condition: '{cookieObject.cookieThemeColor}', then: 'style="--primaryColor:{cookieObject.cookieThemeColor}" data-primary-color="{cookieObject.cookieThemeColor}"')}
    >
        <div class="cookie-consent-container cc-hide">
            <f:render section="content" />
        </div>

        <f:if condition="{cookieObject.cookieOverlaySettingsButton}">
            <div class="cookie-open cookie-open-icon">
                <div><span><f:translate key="generic.btnOpenCookieBox" /></span></div>
            </div>
        </f:if>
    </div>
</f:if>

</html>
