<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:variable name="minify"><f:if condition="{settings.compressFiles}">.bundle</f:if></f:variable>

<f:if condition="{cookieObject.cookieCssPath}">
    <f:then>
        <f:asset.css identifier="cookie-consent-theme-custom" href="{cookieObject.cookieCssPath}" />
    </f:then>
    <f:else>
        <f:asset.css identifier="cookie-consent-theme-small" href="EXT:hh_ext_cookie_consent/Resources/Public/Css/cookie-consent-theme-small{minify}.css" />
    </f:else>
</f:if>

</html>
