<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:variable name="minify"><f:if condition="{settings.compressFiles}">.bundle</f:if></f:variable>

<f:asset.script identifier="cookie-consent-ccb" defer="true" src="EXT:hh_ext_cookie_consent/Resources/Public/JavaScript/overlay-ccb{minify}.js" />

</html>
