<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hhcookie="http://typo3.org/ns/HauerHeinrich/HhExtCookieConsent/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{data.consent_cce_link}">
    <div class="container-frame" data-placeholder-id="{settings.cookie_id}">
        <iframe src="{settings.consent_cce_link}" frameborder="0"{f:if(condition: '{settings.consent_cce_frame_height}', then: ' height="{settings.consent_cce_frame_height}"')}{f:if(condition: '{settings.consent_cce_frame_width}', then: ' width="{settings.consent_cce_frame_width}"')}></iframe>

        <template class="placeholder-template">
            <div class="cc-placeholder-box">
                <h4 class="cookie-group-title cookie-group-type-custom cookie-group-title-{settings.cookie_id}">{settings.consent_cce_frame_header}</h4>
                <div class="cookie-group-bodytext ce-bodytext">
                    <f:if condition="{settings.consent_cce_frame_bodytext}">
                        <f:format.html>{settings.consent_cce_frame_bodytext}</f:format.html>
                    </f:if>
                </div>
                <f:if condition="{settings.consent_cce_frame_link_text}">
                    <f:then>
                        <a class="cc-placeholder-btn-accept">{settings.consent_cce_frame_link_text}</a>
                    </f:then>
                    <f:else>
                        <a class="cc-placeholder-btn-accept">Accept in consent banner</a>
                    </f:else>
                </f:if>
            </div>
        </template>
    </div>
</f:if>

</html>
