<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:hhcookie="http://typo3.org/ns/HauerHeinrich/HhExtCookieConsent/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Backend/Default" />

<f:section name="content">
    <h1>Cookie selection</h1>

    <f:if condition="{cookieObject}">
        <f:comment>
            // be.link.editRecord for TYPO3 9 and higher
            <be.link.editRecord uid="{cookieObject.uid}" table="tx_hhextcookieconsent_domain_model_cookieconsent">
                <span title="asdahg">
                    Cookie settings
                </span>
            </be.link.editRecord>
        </f:comment>

        <a href="{hhcookie:editLink(uid: '{cookieObject.uid}', table='tx_hhextcookieconsent_domain_model_cookieconsent')}">
            <span title="asdahg">
                Cookie settings
            </span>
        </a>
        <a href="#" class="t3js-contextmenutrigger" data-table="tx_hhextcookieconsent_domain_model_cookieconsent" data-uid="{cookieObject.uid}" title="id={cookieObject.uid}">
            <f:if condition="{customField.hidden}">
                <f:then>
                    <core:icon identifier="overlay-news" size="small" overlay="overlay-hidden" />
                </f:then>
                <f:else>
                    <core:icon identifier="overlay-news" size="small" />
                </f:else>
            </f:if>
        </a>
    </f:if>

    <f:comment>
        <f:if condition="{cookieObject.customFields}">
            <div class="custom-fields">
                <ul>
                    <f:for each="{cookieObject.customFields}" as="customField" iteration="i">
                        <li>
                            <be.link.editRecord uid="{customField.uid}" table="tx_hhextcookieconsent_domain_model_custom">
                                <span title="{customField.title}">
                                    {customField.title}
                                </span>
                            </be.link.editRecord>

                            <a href="#" class="t3js-contextmenutrigger" data-table="tx_hhextcookieconsent_domain_model_custom" data-uid="{customField.uid}" title="id={customField.uid}">
                                <f:if condition="{customField.hidden}">
                                    <f:then>
                                        <core:icon identifier="overlay-news" size="small" overlay="overlay-hidden" />
                                    </f:then>
                                    <f:else>
                                        <core:icon identifier="overlay-news" size="small" />
                                    </f:else>
                                </f:if>
                            </a>
                        </li>
                    </f:for>
                </ul>
            </div>
        </f:if>
    </f:comment>

</f:section>

</html>
