<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hhcookie="http://typo3.org/ns/HauerHeinrich/HhExtCookieConsent/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Backend/Default" />

<f:section name="content">
    <h1>Cookie Consent Manager</h1>

</f:section>

</html>
