<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hhcookie="http://typo3.org/ns/HauerHeinrich/HhExtCookieConsent/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">
    <f:render partial="Assets/CssFiles" arguments="{_all}" />
    <f:render partial="Assets/JsFiles" arguments="{_all}" />

    <div class="cookie-overlay"></div>

    <div class="cookie-consent-tool" data-footer-settings-button="{cookieObject.cookieFooterSettingsButton}">

        <div class="cookie-consent-tool-inner">

            <f:if condition="{cookieObject.cookieBannerCloseIcon} == 1">
                <div class="cookie-close"></div>
            </f:if>

            <f:if condition="{cookieObject.cookieEssentialsHeader}">
                <f:then>
                    <span class="cookie-headline">{cookieObject.cookieEssentialsHeader}</span>
                </f:then>
                <f:else>
                    <span class="cookie-headline"><f:translate key="cookie.settings" /></span>
                </f:else>
            </f:if>

            <div class="cookie-settings cookie-settings--simple cc-active">
                <f:if condition="{cookieObject.cookiePrivacyLink}">
                    <f:then>
                        <f:variable name="dataprotectionLinkStart"><a href="<f:uri.typolink parameter="{cookieObject.cookiePrivacyLink}" absolute="true" />"></f:variable>
                        <f:variable name="dataprotectionLinkEnd"></a></f:variable>
                    </f:then>
                    <f:else>
                        <f:variable name="dataprotectionLinkStart"></f:variable>
                        <f:variable name="dataprotectionLinkEnd"></f:variable>
                    </f:else>
                </f:if>

                <div class="cookie-description">
                    <f:if condition="{cookieObject.cookieEssentialsDescription}">
                        <f:then>
                            <f:format.html>{cookieObject.cookieEssentialsDescription}</f:format.html>
                        </f:then>
                        <f:else>
                            <f:format.html><f:translate key="cookie.essentialsDescription" arguments="{0: '{dataprotectionLinkStart}', 1: '{dataprotectionLinkEnd}'}" /></f:format.html>
                        </f:else>
                    </f:if>
                </div>
                <hhcookie:form name="modifyCookie" object="{cookieObjectNew}" controller="ConsentBanner" action="bannerOutput" pluginName="CoCo" method="post" addQueryString="true">
                    <div class="cookie-options">
                        <ul>
                            <li class="cookie-option-all">
                                <f:form.button class="cookie-btn cc-fullwidth"
                                    type="submit"
                                    name="submit_all"
                                    value="1"
                                    formmethod="post"
                                >
                                    {f:translate(key: 'generic.acceptAll')}
                                </f:form.button>
                            </li>
                            <li class="cookie-option-individual">
                                <a class="cookie-btn cookie-mode-toggler cc-fullwidth" href="#"><f:translate key="cookie.individuals" /></a>
                            </li>
                            <f:if condition="{cookieObject.cookieBannerBtnEssentialShow}">
                                <li class="cookie-option-essential">
                                    <f:form.button class="cookie-btn cc-fullwidth"
                                        type="submit"
                                        name="submit_essentials"
                                        value="1"
                                        formmethod="post"
                                    >
                                        {f:translate(key: 'cookie.essentials2')}
                                    </f:form.button>
                                </li>
                            </f:if>
                        </ul>
                    </div>
                </hhcookie:form>
            </div>

            <div class="cookie-settings cookie-settings--complex">
                <hhcookie:form name="modifyCookie" object="{cookieObjectNew}" controller="ConsentBanner" action="bannerOutput" pluginName="CoCo" method="post" addQueryString="true">
                    <p class="cookie-description"><f:translate key="cookie.description" /></p>
                    <div class="cookie-actions">
                        <ul>
                            <li class="cookie-submit-individual"><f:form.submit class="cookie-btn" name="submit_individual" value="<f:translate key='cookie.saveSettings' />" /></li>
                            <li class="cookie-goback"><a class="cookie-btn-text cookie-mode-toggler" href="#"><f:translate key="generic.goBack" /></a></li>
                            <f:if condition="{cookieObject.cookieBannerBtnEssentialShow}">
                                <li class="cookie-submit-essentials"><f:form.submit class="cookie-btn-text" name="submit_essentials" value="<f:translate key='cookie.essentials2' />" /></li>
                            </f:if>
                        </ul>
                    </div>

                    <!-- Cookie Groups -->
                    <div class="cookie-groups">

                        <!-- Cookie - Essentials -->
                        <details class="cookie-group cookie-group-essentiell">
                            <summary class="cookie-group-tab"><f:translate key="cookie.essentials" /></summary>
                            <div class="cookie-group-view">
                                <!-- VENDOR: TYPO3 -->
                                <span class="cookie-group-title cookie-group-type-essentials"><f:translate key="vendor.csp.name" /></span>
                                <ul class="cookie-group-content cookie-group-type-essentials">
                                    <li class="cookie-input-accept"><label for="csp-t3"><f:translate key="generic.accept" /></label><span><f:form.checkbox property="typo3" checked="checked" disabled="disabled" id="csp-t3" value="1" /></span></li>
                                    <li><label><f:translate key="generic.name" /></label><span><f:translate key="vendor.csp.name" /></span></li>
                                    <li><label><f:translate key="generic.vendor" /></label><span>{cookieObject.cookieVendor}</span></li>
                                    <li><label><f:translate key="generic.purpose" /></label><span><f:translate key="vendor.csp.purpose" /></span></li>
                                    <li><label><f:translate key="generic.privacyPolicy" /></label><span><f:link.typolink parameter="{cookieObject.cookiePrivacyLink}" absolute="true"></f:link.typolink></span></li>
                                    <li class="cookie-text-name"><label><f:translate key="cookie.name" /></label><span><f:translate key="vendor.csp.cookieName" /></span></li>
                                    <li class="cookie-text-runtime"><label><f:translate key="cookie.duration" /></label><span><f:translate key="vendor.csp.duration" /></span></li>
                                </ul>
                                <f:for each="{cookieObject.essentialsFields}" as="field" key="label" iteration="i">
                                    <span class="cookie-group-title">{field.title}</span>
                                    <ul class="cookie-group-content">
                                        <li class="cookie-input-accept"><label for="csp-{label}"><f:translate key="generic.accept" /></label><span><f:form.checkbox id="csp-{label}" name="{label}" checked="checked" disabled="disabled" value="1" /></span></li>
                                        <li><label><f:translate key="generic.name" /></label><span>{field.title}</span></li>
                                        <li><label><f:translate key="generic.vendor" /></label><span>{field.supplier}</span></li>
                                        <li><label><f:translate key="generic.purpose" /></label><span>{field.purpose}</span></li>
                                        <li><label><f:translate key="generic.privacyPolicy" /></label>
                                            <span>
                                                <f:if condition="{field.cookiePrivacyLink}">
                                                    <f:then>
                                                        <f:link.typolink parameter="{field.cookiePrivacyLink}" absolute="true"></f:link.typolink>
                                                    </f:then>
                                                    <f:else>
                                                        <f:link.typolink parameter="{cookieObject.cookiePrivacyLink}" absolute="true"></f:link.typolink>
                                                    </f:else>
                                                </f:if>
                                            </span>
                                        </li>
                                        <li class="cookie-text-name"><label><f:translate key="cookie.name" /></label><span>{field.cookieName}</span></li>
                                        <li class="cookie-text-runtime"><label><f:translate key="cookie.duration" /></label><span>{field.cookieRuntime}</span></li>
                                    </ul>
                                </f:for>
                            </div>
                        </details>

                        <!-- Cookie - Marketing Fields -->
                        <f:if condition="{cookieObject.marketingFields}">
                            <details class="cookie-group cookie-group-marketing">
                                <summary class="cookie-group-tab"><f:translate key="generic.marketing" /></summary>
                                <div class="cookie-group-view">
                                    <f:for each="{cookieObject.marketingFields}" as="field" key="label" iteration="i">
                                        <span class="cookie-group-title cookie-group-type-marketing cookie-group-title-{label}"><f:translate key="vendor.{label}.name" /></span>
                                        <ul class="cookie-group-content cookie-group-type-marketing cookie-group-content-{label}">
                                            <li class="cookie-input-accept"><label for="csp-{label}"><f:translate key="generic.accept" /></label><span><f:form.checkbox id="csp-{label}" property="{label}" value="1" /></span></li>
                                            <li><label><f:translate key="generic.name" /></label><span><f:translate key="vendor.{label}.name" /></span></li>
                                            <li><label><f:translate key="generic.vendor" /></label><span><f:translate key="vendor.{label}.vendor" /></span></li>
                                            <li><label><f:translate key="generic.purpose" /></label><span><f:translate key="vendor.{label}.purpose" /></span></li>
                                            <li><label><f:translate key="generic.privacyPolicy" /></label><span><a href='<f:translate key="vendor.{label}.privacyLink" />'><f:translate key="vendor.{label}.privacyLink" /></a></span></li>
                                            <li class="cookie-text-name"><label><f:translate key="cookie.name" /></label><span><f:translate key="vendor.{label}.cookieName" /></span></li>
                                            <li class="cookie-text-runtime"><label><f:translate key="cookie.duration" /></label><span><f:translate key="vendor.{label}.duration" /></span></li>
                                        </ul>
                                    </f:for>
                                </div>
                            </details>
                        </f:if>

                        <!-- Cookie - Media / Other Fields -->
                        <f:if condition="{cookieObject.mediaFields} || {cookieObject.othersFields} || {cookieObject.customFields}">
                            <details class="cookie-group cookie-group-media-services">
                                <summary class="cookie-group-tab"><f:translate key="generic.mediaAndServices" /></summary>
                                <div class="cookie-group-view">

                                    <!-- MEDIA FIELDS -->
                                    <f:for each="{cookieObject.mediaFields}" as="field" key="label" iteration="i">
                                        <f:if condition="{field} == 1">
                                            <span class="cookie-group-title cookie-group-type-media cookie-group-title-{label}"><f:translate key="vendor.{label}.name" /></span>
                                            <ul class="cookie-group-content cookie-group-type-media cookie-group-content-{label}">
                                                <f:comment><li><label for="csp-{label}"><f:translate key="generic.accept" /></label><span><f:form.checkbox id="csp-{label}" property="{label}" value="" checked="{field} == 1" /></span></li></f:comment>
                                                <li class="cookie-input-accept"><label for="csp-{label}"><f:translate key="generic.accept" /></label><span><f:form.checkbox id="csp-{label}" property="{label}" value="1" /></span></li>
                                                <li><label><f:translate key="generic.name" /></label><span><f:translate key="vendor.{label}.name" /></span></li>
                                                <li><label><f:translate key="generic.vendor" /></label><span><f:translate key="vendor.{label}.vendor" /></span></li>
                                                <li><label><f:translate key="generic.purpose" /></label><span><f:translate key="vendor.{label}.purpose" /></span></li>
                                                <li><label><f:translate key="generic.privacyPolicy" /></label><span><a href='<f:translate key="vendor.{label}.privacyLink" />'><f:translate key="vendor.{label}.privacyLink" /></a></span></li>
                                                <li class="cookie-text-name"><label><f:translate key="cookie.name" /></label><span><f:translate key="vendor.{label}.cookieName" /></span></li>
                                                <li class="cookie-text-runtime"><label><f:translate key="cookie.duration" /></label><span><f:translate key="vendor.{label}.duration" /></span></li>
                                            </ul>
                                        </f:if>
                                    </f:for>

                                    <!-- OTHERS FIELDS -->
                                    <f:for each="{cookieObject.othersFields}" as="field" key="label" iteration="i">
                                        <f:if condition="{field} == 1">
                                            <span class="cookie-group-title cookie-group-type-others cookie-group-title-{label}"><f:translate key="vendor.{label}.name" /></span>
                                            <ul class="cookie-group-content cookie-group-type-others cookie-group-content-{label}">
                                                <li class="cookie-input-accept"><label for="csp-{label}"><f:translate key="generic.accept" /></label><span><f:form.checkbox id="csp-{label}" property="{label}" value="1" /></span></li>
                                                <li><label><f:translate key="generic.name" /></label><span><f:translate key="vendor.{label}.name" /></span></li>
                                                <li><label><f:translate key="generic.vendor" /></label><span><f:translate key="vendor.{label}.vendor" /></span></li>
                                                <li><label><f:translate key="generic.purpose" /></label><span><f:translate key="vendor.{label}.purpose" /></span></li>
                                                <li><label><f:translate key="generic.privacyPolicy" /></label><span><a href='<f:translate key="vendor.{label}.privacyLink" />'><f:translate key="vendor.{label}.privacyLink" /></a></span></li>
                                                <li class="cookie-text-name"><label><f:translate key="cookie.name" /></label><span><f:translate key="vendor.{label}.cookieName" /></span></li>
                                                <li class="cookie-text-runtime"><label><f:translate key="cookie.duration" /></label><span><f:translate key="vendor.{label}.duration" /></span></li>
                                            </ul>
                                        </f:if>
                                    </f:for>

                                    <!-- CUSTOM FIELDS -->
                                    <f:comment>"{field}": unlike the others, "field" here is an object</f:comment>
                                    <f:for each="{cookieObject.customFields}" as="field" key="label" iteration="i">
                                        <f:if condition="{field}">
                                            <span class="cookie-group-title cookie-group-type-custom cookie-group-title-{field.cookieId}">{field.title}</span>
                                            <ul class="cookie-group-content cookie-group-type-custom cookie-group-content-{field.cookieId}">
                                                <li class="cookie-input-accept">
                                                    <label for="csp-custom-label-{label}"><f:translate key="generic.accept" /></label>
                                                    <span>
                                                        <f:if condition="{field.placeholderImage}">
                                                            <f:variable name="placeholder">{f:uri.image(image: "{field.placeholderImage}", treatIdAsReference: "1")}</f:variable>
                                                        </f:if>
                                                        <f:form.checkbox
                                                            id="csp-custom-label-{label}"
                                                            property="custom.{field.cookieId}"
                                                            value="1"
                                                            checked="{oldUserCookieSettings.custom.{field.uid}} == 1"
                                                            additionalAttributes="{
                                                                    data-placeholder-image: '{placeholder}',
                                                                    data-csp-default-src: '{field.cspDefaultSrc}',
                                                                    data-csp-uid: '{field.uid}',
                                                                    data-csp-title: '{field.title}',
                                                                    data-csp-cookie-id: '{field.cookieId}'
                                                            }"
                                                        />
                                                    </span>
                                                    <f:form.hidden property="custom.domain.{field.cookieId}" value="{field.cspDefaultSrc}" />
                                                </li>
                                                <li><label><f:translate key="generic.name" /></label><span>{field.title}</span></li>
                                                <li><label><f:translate key="generic.vendor" /></label><span>{field.supplier}</span></li>
                                                <li><label><f:translate key="generic.purpose" /></label><span>{field.purpose}</span></li>
                                                <li><label><f:translate key="generic.privacyPolicy" /></label>
                                                    <span>
                                                        <f:if condition="{field.cookiePrivacyLink}">
                                                            <f:then>
                                                                <f:link.typolink parameter="{field.cookiePrivacyLink}" absolute="true"></f:link.typolink>
                                                            </f:then>
                                                            <f:else>
                                                                <f:link.typolink parameter="{cookieObject.cookiePrivacyLink}" absolute="true"></f:link.typolink>
                                                            </f:else>
                                                        </f:if>
                                                    </span>
                                                </li>

                                                <li>
                                                    <f:if condition="{field.cookieNames}">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th><f:translate key="cookie.name" /></th>
                                                                    <th><f:translate key="cookie.duration" /></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <f:for each="{field.cookieNames}" as="cookieName" iteration="i">
                                                                    <tr>
                                                                        <td>{cookieName}</td>
                                                                        <td><f:if condition="{field.cookieRuntimes.{i.index}}">{field.cookieRuntimes.{i.index}}</f:if></td>
                                                                    </tr>
                                                                </f:for>
                                                            </tbody>
                                                        </table>
                                                    </f:if>
                                                </li>
                                            </ul>
                                        </f:if>
                                    </f:for>
                                </div>
                            </details>
                        </f:if>

                    </div>
                    <!-- End of Cookie Groups -->
                </hhcookie:form>
            </div>

            <div class="cookie-footer">
                <f:link.typolink parameter="{cookieObject.cookiePrivacyLink}" absolute="true"><f:translate key="generic.privacyPolicy" /></f:link.typolink>
                <span class="cc-separator"></span>
                <f:link.typolink parameter="{cookieObject.cookieImprintLink}" absolute="true"><f:translate key="generic.imprint" /></f:link.typolink>
            </div>
        </div>
    </div>
</f:section>

</html>
